body{
    background-color: #243642;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
    text-align: center;
    color: white;
}

div{
    background-color: white;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    width: 500px;
    margin: 0 auto;
    
}

input{
    width: 200px;
}